<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Aluno</title>
</head>
<body>
    <h2>Cadastro de Aluno</h2>

    <form method="post" action="/aluno/cadastro">
        <label for="nome">Nome: </label>
        <input type="text" name="nome"><br>
        
        <label for="email">E-mail: </label>
        <input type="text" name="email"><br><br>
        
        <button type="submit">Salvar</button>
    </form>

</body>
</html>