<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Lista Aluno</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>Nome</th>
                <th>E-mail</th>
            </tr>
        </thead>
        <tbody>
            <tr data-th-each="aluno: ${alunos}">
                <td data-th-text="${aluno.nome}"></td>
                <td data-th-text="${aluno.email}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>